nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{
    font-size: 40px;
}
h1{
    font-size: 45px;
    text-align: center;
}
ul{
    text-align: center;
}
h2{
    font-size: 30px;
    text-align: center;
}
.brand-logo:hover{
    cursor: pointer;
}
ul1{
    text-align: left;
}
.parallax img{
    width: 100%;
}